/* CreateServer.css */

/* Container styles */
.create-server-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  .create-server-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Form styles */
  .create-server-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .create-server-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-server-button:hover {
    background-color: #1e7e34;
  }
  
  /* Server Created message styles */
.server-created-message {
    color: #1e7e34; /* Dark green color */
    font-weight: bold;
    padding-top: 5px;
  }